[Desktop Entry]
Name=NSTrain
X-GNOME-FullName=NSTrain
Comment=Train Scheduler Application
Categories=GNOME;Utility;
Path=/opt/NSTrain/
Exec=/opt/NSTrain/nstrain-app
Icon=/opt/NSTrain/data/media/app-icon.png
Terminal=false
Type=Application
